*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:"spacemono" ;
    src: url(font/SpaceMono-Bold.ttf);
}
:root{
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
    --Strong-cyan: hsl(172, 67%, 45%);
}
body{
    font-family:"spacemono" ;
    background-color: var( --Light-grayish-cyan);
}
main{
    width: 50vw;
    margin: auto;
    margin-top: 7rem;
    background-color: white;
    display: flex;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 1rem;
}
.bill-container{
    display: flex;
    flex-direction: column;
}
.span-description{
    color: var(--Grayish-cyan);
}
#bill-input, #divisor-input{
    background-color: var(--Very-light-grayish-cyan);
    border: none;
    padding: 0.3rem 0rem;
    border-radius: 0.2rem;


}
.tip-btn-container{
    display: flex;
    gap:0.5rem;
    flex-wrap: wrap;
}
.btn-tip{
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--Very-dark-cyan);
    color: white;
    font-family:"spacemono";
}

